name: MERN Backend CI/CD

on: push

jobs:
  backend-pipeline:
    runs-on: ubuntu-latest

    env: 
      MONGO_URI: ${{ secrets.MONGO_URI }}

    steps:
      - name: Get Code
        uses: actions/checkout@v3

      - name: Setup Node
        uses: actions/setup-node@v3
        with:
          node-version: 18

      - name: Install packages
        run: npm install

      - name: Start server
        run: node index.js
