name: MERN Backend CI/CD Pipeline

on: push

jobs:
  backend-pipeline:
    runs-on: ubuntu-latest

    steps:
      - name: Get Code
        uses: actions/checkout@v3

      - name: Setup Node
        uses: actions/setup-node@v3
        with:
          node-version: 18

      - name: Install packages
        run: npm install

      - name: Start server (optional)
        run: node index.js
